.wrapper {
  max-width: 75rem;
  perspective: 2px;
  place-self: center;
  transform-style: preserve-3d;
  width: 75%;
}

.title {
  font-size: xxx-large;
  text-align: center;
}

.subtitle {
  padding-right: 3rem;
  text-align: right;
}

.title-2 {
  font-size: x-large;
  padding: 1rem;
  text-align: left;
}

.image {
  align-self: center;
  padding: 5rem;
  width: 50%;
}

.image-1 {
  text-align: right;
}

.image-2 {
  padding: 2rem;
  text-align: center;
}

.partnership {
  column-count: 3;
}

.partnership li {
  display: inline-block;
  text-shadow: 0px 0px 2px black;
  width: 100%;
}

.padding-10rem {
  padding-bottom: 5rem;
}