body {
  color: #000000;
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}

a {
  color: #000000;
  text-decoration: none;
}

p,
li {
  font-size: larger;
  line-height: 1.3rem;
  text-align: justify;
  word-break: break-word;
}

p {
  text-indent: 4em;
}


table {
  margin-left: auto;
  margin-right: auto;
}

td {
  text-align: center;
}

@media all and (max-width: 820px) {
  h2 {
    font-size: 32px;
  }

  h2,
  p {
    padding: 0 8px;
  }

  h1 {
    font-size: 36px;
  }
}